#mainEdit {
    padding: 0 0 20px 0;
    margin-right: -20px;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

#maineditcontainer {
    padding-top: 20px;
}

#toolsdiv {
    color: #252a31;
    width: 100%;
    min-width: 200px;
    max-width: 200px;
    height: 100%;
    background-color: #dddddd;
    font-weight: 300;
    margin-left: 20px;
    overflow: auto;
    overflow-x: hidden;
}

#toolsdiv h3 {
    font-size: 1em;
    margin-bottom: 10px;
    margin: 20px;
}

#tools {
    height: 30%;
    background-color: #d0d0d0;
    width: 100%;
    margin: 0;
}

#tools {
    background-color: #dddddd;
    height: 10%;
    display: flex;
    align-items: flex-end;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding-left: 5px;
    margin-bottom: 10px;
}

#tools * {
    margin: 0;
    cursor: pointer;
    cursor: hand;
}

#mainEdit nav button {
    width: 50px;
    margin-right: 10px;
}

#mainEdit nav {
    display: flex;
}

#canvasArea {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*    cursor: crosshair;*/
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJUlEQVQYV2O8cOHCfwY0YGBgwIguxjgUFKI7GsTH5m4M3w1ChQD9lyU2l2l7zwAAAABJRU5ErkJggg==
) repeat;
    cursor: crosshair;
}

#settings {
    padding: 0;
    padding-top: 10px;
    margin: 0;
}

#settings p {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 0 20px 20px
}

#bsize,
#balpha,
#fgcolor,
#fgbg {
    margin: 0;
    /*    margin-left: 28px;*/
    width: 40px;
    display: block;
    border: none;
    border-radius: 4px;
    text-align: left;
    border: 1px solid #999999;
    padding: 4px;
}

#fgcolor,
#fgbg {
    margin-left: -6px;
    width: 175px;
    height: 20px;
    margin-top: -2px;
}

#fgcolor {
    margin-top: -5px;
    margin-left: -5px;
    width: 100px;
}

#fgbg {
    width: 90px;
    height: 10px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJUlEQVQYV2O8cOHCfwY0YGBgwIguxjgUFKI7GsTH5m4M3w1ChQD9lyU2l2l7zwAAAABJRU5ErkJggg==
) repeat;
}

#cholder {
    display: flex;
    align-items: center;
    width: calc(100% - 40px);
    justify-content: center;
}

#fgcolor:focus {
    outline: none;
}

#cholder input[type=checkbox] {
    display: none;
}

#cholder input[type=checkbox] + label {
    margin-right: 20px;
    color: #252a31;
    cursor: pointer;
}

#cholder input[type=checkbox]:checked + label {
    color: #429994;
}


/*
#balpha{
    margin-left: 17px;
}
*/

#cursor {
    position: absolute;
    width: 50px;
    height: 50px;
}

#brushBox {
    margin: 20px 50px;
    border: 1px solid #999999;
    border-radius: 4px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#brushImg {
    max-width: 100%;
    max-height: 100%;
}

.singleLayer {
    background-color: #fff;
    margin: 0;
    font-size: 0.8em;
    padding: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #bebebe;
    cursor: pointer;
    cursor: hand;
    border-left: 2px solid #fff;
}

#layers {
    display: flex;
    flex-direction: column-reverse;
}

.dicon {
    padding: 0;
    margin: 0;
}

.licon {
    padding: 4px;
    margin: 0;
    width: 20px;
}

.layerTools {
    display: flex;
}

.dragname {
    display: flex;
}

.dragname img {
    margin-right: 4px;
}

#addLayer {
    margin: 0;
    width: 18px;
    cursor: pointer;
    cursor: hand;
    margin-top: -5px;
}

#toolsdiv h3 {
    width: 170px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.selected {
    border-left: 2px solid #429994;
}

.lname {
    width: 80px;
    border: none;
}

.lname:focus {
    outline: none;
}