@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

:focus {
    outline-color: #429994;
    outline-width: 1px;
}

body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#login {
    background-color: #E3E5E5;
    padding: 20px;
    border-radius: 4px;
    width: 200px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}

#login form input,
#framesettings form input {
    border: none;
    padding: 10px;
    background: #f0f0f0;
    width: 180px;
    border: 1px solid #cacaca;
    border-radius: 4px;
}

#framesettings {
    padding: 0 20px;
}

#framesettings form input {
    width: 140px;
}

input[type="submit"],
button {
    background-color: #429994;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

#login form input[type="submit"] {
    width: 100%;
    background-color: #429994;
}

.register {
    text-align: right;
}

.register a {
    text-decoration: none;
    color: #429994;
}

#avatars input[type="radio"] {
    display: none;
}

#avatars label img {
    width: 60px;
    border-radius: 100%;
    background-color: #f0f0f0;
    border: 2px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    cursor: hand;
}

#avatars input[type="radio"]:checked+label img {
    border: 2px solid #429994;
}

.errorRegister {
    color: #f0f0f0;
    margin-bottom: 10px;
}

#profile_main form {
    width: 50%;
}

#profile_main input:not([type='submit']),
#profile_main textarea {
    padding: 5px;
    width: 300px;
    border-radius: 4px;
    border: none;
    border: 1px solid #cdcdcd;
}

#profile_main textarea {
    resize: none;
    border: 1px solid #cdcdcd;
    width: 302px;
    height: 100px;
}

#profile_main input:disabled {
    background-color: #f0f0f0;
    border: none;
    border: 1px solid #cacaca;
}

#profile_main form input[type="submit"] {
    padding: 5px 50px;
}

#profile_main #avatars {
    width: 200px;
}

footer {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
    color: #E3E5E5;
    font-weight: 100;
    font-size: 0.8em;
}

footer a {
    text-decoration: none;
    color: #E3E5E5;
}

.error {
    font-size: 0.8em;
    background-color: rgba(217, 119, 90, 0.71);
    border: 1px solid #d9775a;
    color: #fff;
    padding: 5px;
    text-align: center;
    font-weight: 100;
}

#container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

aside {
    background-color: #343B44;
    height: 100%;
    flex: 1 0 0;
    min-width: 150px;
    max-width: 150px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    z-index: 10;
}

#avatar {
    width: 100px;
    border-radius: 100%;
    margin-top: 20px;
    background-color: #f0f0f0;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAVklEQVQYV2P8//+/JAMSaGtre1ZVVSWFLAZiMyIrBCmqrq5mbG1t/Y+uGK4QZhIjI+NzkAnoisEK0a3DphirNWA3oZmM4kZ0D8D4IBuJUojha1wmgsQBJ1c/MTwWD98AAAAASUVORK5CYII=
) repeat;
}

#main {
    background-color: #f0f0f0;
    flex: 5 0 0;
    height: 100%;
    padding: 20px;
    padding-top: 0;
}

.username {
    color: #E3E5E5;
}

aside nav {
    width: 100%;
}

#butLogout {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 150px;
    background-color: #252a31;
}

hr {
    width: 80%;
    height: 1px;
    border: none;
    background-color: #6a727c;
}

nav ul li {
    display: block;
    list-style-type: none;
    color: #E3E5E5;
    font-weight: 100;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

nav a {
    text-decoration: none;
}

nav ul li:hover {
    background-color: #429994;
}

.selected {
    background-color: #252a31;
}

nav ul {
    padding-left: 0;
}

.storyContainer {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
}

#main h1 {
    font-size: 1.4em;
}

.storyMsgContainer {
    width: 280px;
    position: absolute;
    top: 100px;
    bottom: 100px;
    overflow: auto;
}

.msgArea {
    display: flex;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 150px;
    height: 50px;
}

.av {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-top: 5px;
    background-color: #f4f4f4;
}

.msgArea textarea {
    height: 25px;
    border: none;
    resize: none;
    border-radius: 4px;
    width: 200px;
    padding: 10px;
}

.msgArea .tri_right {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent #fff;
    margin-top: 20px;
}

.storyMsgContainer article {
    margin: 10px;
    display: flex;
    font-size: 0.8em;
    width: 260px;
    text-align: justify;
    margin-bottom: 0;
    margin-top: 0;
}

.storyMsgContainer .mymsg .remove {
    display: none;
}

.storyMsgContainer .mymsg:hover .remove {
    display: block;
}

.storyMsgContainer .mymsg .remove {
    /*
    border-left: 1px none;
    position: absolute;
    left: 230px;
    top: -20px;
*/
    border: none;
    width: 20px;
}

.storyMsgContainer .mymsg .remove img {
    width: 20px;
    background: none;
}

.storyMsgContainer .mymsg .remove a {
    text-decoration: none;
    color: #000;
}

.storyMsgContainer article div {
    width: 100%;
    border-left: 1px solid #bac1c8;
    padding: 10px 10px 10px 30px;
    margin-left: -20px;
}

.storyMsgContainer article img {
    margin-top: 20px;
    z-index: 2;
    background-color: #f4f4f4;
}

.clear {
    height: 100px;
}

.topo {
    position: absolute;
    top: 60px;
    left: 160px;
    border-bottom: 1px solid #429994;
    width: 260px;
}

.topo button {
    width: 20px;
    border-radius: 4px 4px 0 0;
    height: 20px;
    padding: 0;
    margin-left: 10px;
}

.topo button img {
    width: 15px;
}

.storyMainContainer {
    position: absolute;
    top: 80px;
    bottom: 20px;
    left: 460px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    overflow: auto;
}

.storyMainContainer a {
    text-decoration: none;
    color: #000;
}

.storyMainContainer article {
    background-color: #fff;
    margin: 10px;
    display: flex;
    align-items: flex-start;
    width: 40%;
    text-align: justify;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    min-height: 120px;
    min-width: 300px;
}

.storyMainContainer article section {
    display: flex;
    align-items: flex-start;
    text-align: justify;
}

.storyMainContainer article div {
    padding: 20px;
    font-size: 0.8em;
    width: 100%;
}

.storyMainContainer article .cover {
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-top: 10px;
}

.storyMainContainer article:hover .remove {
    visibility: visible;
}

.storyMainContainer article .remove {
    width: 20px;
    margin: 4px;
    visibility: hidden;
    cursor: pointer;
}

.storyMainContainer article h2 {
    margin-top: 0;
    padding: 0;
    font-size: 1.2em;
}

.storyMainContainer input[type="text"],
.storyMainContainer select,
.storyMainContainer textarea,
#storyboardOptions form input[type='text'],
#storyboardOptions form textarea {
    border: none;
    padding: 5px;
    background: #f0f0f0;
    width: 95%;
    border: 1px solid #cacaca;
    border-radius: 4px;
    resize: none;
}

.storyMainContainer select {
    height: 26px;
    width: 99%;
    padding: 10px;
}

#storyboardOptions p {
    text-align: left;
}

.alertRemove {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.alertRemove div {
    background-color: #fff;
    padding: 20px;
}

.alertRemove div button {
    margin: 5px;
}

.alertRemove div div {
    display: flex;
}

.cancelButton {
    background-color: #eb6464;
}


/* -------------- STORYBOARD --------------- */

#storyboardOptions {
    transition: all 1s;
    position: absolute;
    top: 70px;
    bottom: 10px;
    width: 200px;
    //overflow: auto;
    text-align: center;
    padding-right: 20px;
    border-right: 1px solid #cacaca;
}

#storyboardOptions .cover {
    width: 100px;
}

#storyboardOptions form {
    text-align: left;
}

#storyboardOptions form input[type='text'],
#storyboardOptions form textarea {
    background-color: #fff;
}

#storyboardOptions form small {
    font-size: 0.6em;
}

#storyboardOptions form select {
    border: none;
    height: 25px;
    background: #fff;
    width: 100%;
    border: 1px solid #cacaca;
    border-radius: 4px;
    resize: none;
}

#hideMenu {
    position: absolute;
    left: 200px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
}

#storyboardMain {
    position: absolute;
    left: 400px;
    top: 200px;
    overflow: auto;
    bottom: 10px;
    transition: all 1s;
}

#storyboardMain img {
    height: 100%;
}

#add_frame {
    border: 2px dashed #dddddd;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    left: 410px;
    background-image: url("../img/ic_add_circle_outline_black_24px.svg");
    background-repeat: no-repeat;
    background-position: center;
    transition: all 1s;
}

#add_frame img {
    color: #bcbaba;
    height: 30%;
}

.ff_4_3 {
    height: 100px;
    width: 133px;
}

.ff_16_9 {
    height: 100px;
    width: 177px;
}

.frame {
    background-color: #fff;
    margin: 10px;
    float: left;
    border: 1px solid #000;
}

.frame_num {
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    float: right;
    text-align: center;
    padding: 4px;
}

#deleteStoryboard {
    position: fixed;
    bottom: 0;
    left: 390px;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
}


/* -------------- DASHBOARD --------------- */

.dashboard_main {
    display: flex;
    flex-flow: row wrap;
    overflow: auto;
}

.dashboard_main article {
    height: 80px;
    width: 200px;
    background-color: #fff;
    padding: 5px;
    font-weight: 100;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}

.dashboard_main .a2 {
    display: block;
}

.num,
.num2 {
    color: #429994;
    font-size: 4em;
    text-align: center;
    font-weight: 800;
    padding: 0;
    margin: 0;
}

.num2 {
    font-size: 2em;
}

#editSection {
    background-color: #f0f0f0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 150px;
    right: 0;
}

#editSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#editSection nav {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
}

#editSection nav button,
#editSection nav form input[type='submit'] {
    margin: 5px;
    width: 45px;
}

#editSection div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#editOptions {
    width: 200px;
}


/*
canvas {
    background-color: #fff;
}
*/

.butSmall {
    width: 45px;
    margin-right: 5px;
}

#optionsControl {
    display: flex;
}

#mainPrint {
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 20px;
    font-weight: 100;
}

#mainPrint #avatar {
    width: 30px;
    padding: 0;
    border: none;
    margin-top: 0;
    margin-right: 5px;
    margin-left: 5px;
}

#mainPrint h1 {
    font-size: 3em;
}

#div_author {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#mainPrint #cover {
    width: 100px;
    margin-right: 10px;
}

#mainPrint #banner {
    display: flex;
    align-items: center;
}

#mainPrint #frames {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

#mainPrint #frames img {
    border: 1px solid #000;
    margin: 20px;
    width: 100%;
}

#mainPrint .frameprint {
    width: 40%;
    padding: 10px;
}

#mainPrint .numF {
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

#canvasArea {
    display: flex;
    flex-direction: column;
}


/*---------- COLOR PICKER ------------*/

.colorpicker {
    font-size: 0;
    padding: 0;
}

.colorpicker li {
    display: inline-block;
    width: 50px;
    height: 50px;
    position: relative;
    color: #fff;
    cursor: pointer;
}

.colorpicker li img {
    width: 80%;
    height: 80%;
    margin: 10%;
}

#colors {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    font-weight: 100;
}

table thead th {
    background-color: #429994;
    color: #fff;
    text-align: left;
}

th {
    font-weight: 300;
}

tr:nth-child(even) {
    background: #e0e0e0
}

tr:nth-child(odd) {
    background: #f0f0f0
}

.tableButton {
    cursor: pointer;
    cursor: hand;
}

#redeemform {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    margin-bottom: 50px;
}

#redeemform button {
    height: 100%;
    margin-left: 20px;
}

.invisible {
    display: none;
}

.reportedBugs {
    margin-top: 50px;
}

.bug {
    font-weight: 100;
    padding: 0px 10px 10px 10px;
    border-bottom: 1px dashed #a4a4a4;
}

.bug h2 {
    font-size: 1.0em;
}

.buguser {
    font-size: 0.8em;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label {
    width: 30px;
    height: 10px;
    border-radius: 5px;
    display: block;
    background-color: #d0d0d0;
}

input[type=checkbox] + label span {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #a0a0a0;
    transition: 0.5s all;
    position: relative;
    top: -5px;
    left: 0;
}

input[type=checkbox]:checked + label span {
    background-color: #429994;
    margin-left: 10px;
}

h2{
    font-size: 1.1em;
    border-bottom: 1px solid #429994;
    margin-top: 50px;
}